anndata==0.10.8
annoy==1.15.2
hnswlib==0.8.0
numpy==1.26.4
opencv-python==4.10.0.84
pandas==2.2.2
pillow==10.2.0
scanpy==1.10.2
scikit-learn==1.5.1
scikit-misc==0.3.1
scikit-image==0.24.0
scipy==1.13.1
tifffile==2024.8.10
timm==1.0.9
tqdm==4.66.5
harmony-py==0.5.0
harmonypy==0.0.10

